* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  /* color: #242E5B; */
}

/* Sitewide CSS */
.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.draggable-mirror {
  /* opacity: 0.7;
  box-shadow: 0 0 10px;

  color: green; */
}

.section-title-copy {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.heading {
  font-size: 1.9rem;
  color: #6CCACD;
  padding-bottom: 20px;
}

.subheading {
  font-size: 3rem;
  color: #242E5B;
  line-height: 1.3;
}


/* Hero Section */
.fgs-logo {
  margin: 30px 0 30px 0;
}

.hero-title {
  text-align: center;
  color: #242E5B;
}

#corporate-text {
  position: relative;
  right: 300px;
  color: #6CCACD;
  font-size: 2.6rem;
}

.hero-title > h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero-title > h2 {
  font-size: 2.5rem;
}

.section-description {
  font-size: 1.5rem;
  color: #242E5B;
  line-height: 1.7;
  font-weight: 400;
  margin: 50px 0 50px 0;
}

.ideas-to-market-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 150px;
  color: #242E5B;
  font-weight: 600;
}

.ideas-to-market-grid {
  transform: rotate(-45deg);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  'a b c d'
  'e f f g'
  'h f f i'
  'j k l m'
}

.ideas-to-market-grid > div {
  width: 100px;
  height: 100px;
  border: 3px solid #242E5B;
}

.ideas-to-market-grid div:first-child {
  grid-area: b;
}

.ideas-to-market-grid div:nth-child(2) {
  grid-area: c;
}

.ideas-to-market-grid div:nth-child(3) {
  grid-area: d;
}

.ideas-to-market-grid div:nth-child(4) {
  grid-area: f;
  width: 180px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  border: none;
  text-align: center;
}

.ideas-to-market-grid div:nth-child(5) {
  grid-area: g;
}

.ideas-to-market-grid div:nth-child(6) {
  grid-area: i;
}

.ideas-to-market-grid div:nth-child(7) {
  grid-area: j;
}

.ideas-to-market-grid div:nth-child(8) {
  grid-area: k;
}

.ideas-to-market-grid div:nth-child(9) {
  grid-area: l;
}

.ideas-to-market-grid div:nth-child(10) {
  grid-area: m;
}

/* About Us Section */

.about-us-title, .about-us-text {
  text-align: center;
}

.strategy-wrapper {
  background: linear-gradient(to bottom, #ffffff 63%, #242E5B 37%);
}

.strategy-wrapper ul {
  padding-left: 15%;
  padding-right: 15%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  'a b c d e'
  'f f f f f'
  'g h i j k'
  'l m n o p'
}

.strategy-wrapper ul > .strategy-drag {
  height: 150px;
  border: 3px solid #242E5B;
}

.strategy-wrapper ul > .strategy-grid-text {
  width: 100%;
  height: 70px;
}

.strategy-wrapper ul > .strategy-drop {
  height: 150px;
  border: 3px solid #000000;
}

.strategy-wrapper ul > .strategy-titles {
  align-items: flex-start;
}

.strategy-wrapper ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.strategy-wrapper ul li:first-child {
  grid-area: c;
}

.strategy-wrapper ul li:nth-child(2) {
  grid-area: f;
}

.strategy-wrapper ul li:nth-child(3) {
  grid-area: g;
}

.strategy-wrapper ul li:nth-child(4) {
  grid-area: h;
}

.strategy-wrapper ul li:nth-child(5) {
  grid-area: i;
}

.strategy-wrapper ul li:nth-child(6) {
  grid-area: j;
}

.strategy-wrapper ul li:nth-child(7) {
  grid-area: k;
}

.strategy-wrapper ul li:nth-child(8) {
  grid-area: l;
}

.strategy-wrapper ul li:nth-child(9) {
  grid-area: m;
}

.strategy-wrapper ul li:nth-child(10) {
  grid-area: n;
}

.strategy-wrapper ul li:nth-child(11) {
  grid-area: o;
}

.strategy-wrapper ul li:nth-child(12) {
  grid-area: p;
}

.strategy-drop {
  background-color: #6CCACD;
}

.strategy-grid-text {
  color: #242E5B;
}

.strategy-grid-text div {
  max-width: 230px;
  text-align: center;
}

.strategy-grid-text h2 {
  font-size: 1.2rem;
}

.strategy-titles {
  color: #ffffff;
}

/* --------------------------------  Innovation Section ------------------------------------ */
.innovation-section {
  background-color: #242E5B;
}

.innovation-section h1 {
  color: #ffffff;
}

.heading-wrapper {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  color: white;
}
/* -------------------------------- End Innovation Section ------------------------------------ */

.how-it-works-section {
  background-color: #242E5B;
  /* only need to set if position relative on iamge */
  height: 800px;
}

.how-it-works-title, .how-it-works-text {
  text-align: center;
}

.how-it-works-title > h1 {
  color: #ffffff;
}

.how-it-works-title > h3 {
  color: #6CCACD;
}

.how-it-works-text {
  color: #ffffff;
}





.image-wrapper {
  width: 30%;
  position: relative
}

.grid-range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  top: 50px;
}

.slider-box {
  width: 100px;
  height: 100px;
  border-top: 4px solid #ffffff; 
  border-bottom: 4px solid #ffffff; 
  border-right: 4px solid #ffffff; 
}

.grid > div:nth-child(6) {
  border-left: 4px solid #ffffff;
}

.slider-box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: white;  
}

.slider-wrapper1 {
  position: relative;
  bottom: 5px;
}

.slide-box {
  width: 100px;
  border-right: 3px solid #ffffff;
}

.slide-box:last-child {
  border-right: none;
}

.slider-button-wrapper {
  display: flex;
  justify-content: center;
}

.slider-button-wrapper input {
  width: 95%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  background: #ffffff;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  height: 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.slider::-moz-range-thumb {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #ffffff;
}

a {
  color: blue;
}
a:hover{
  color: purple;
}
















.capabilities-section {
  background-color: #242E5B;
}

.capabilities-title, .capabilities-text {
  text-align: center;
}

.capabilities-title > h3 {
  color: #6CCACD
}

.capabilities-title > h1 {
  color: #ffffff;
}

.capabilities-text {
  color: #ffffff;
}

.capabilities-wrapper {
  /* padding-top: 130px; */
  padding-left: 15%;
  padding-right: 15%;
}

.capabilities-grid {
  height: 500px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
  'a a a b b b'
  'c c d d f f'
  'c c e e f f'
  'g g g h h h'
  'i i i i j j'
}

.capabilities-grid div {
  /* width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  color: #ffffff;
  /* width: 100px; */
  /* height: 75px; */
}

.capabilities-grid div:first-child {
  grid-area: a;
  background-color: #ffffff;
  color: #242E5B;
}

.capabilities-grid div:nth-child(2) {
  grid-area: b;
}

.capabilities-grid div:nth-child(3) {
  grid-area: c;
}

.capabilities-grid div:nth-child(4) {
  grid-area: d;
}

.capabilities-grid div:nth-child(5) {
  grid-area: e;
}

.capabilities-grid div:nth-child(6) {
  grid-area: f;
  background-color: #ffffff;
  color: #242E5B;
}

.capabilities-grid div:nth-child(7) {
  grid-area: g;
}

.capabilities-grid div:nth-child(8) {
  grid-area: h;
}

.capabilities-grid div:nth-child(9) {
  grid-area: i;
  background-color: #ffffff;
  color: #242E5B;
}

.capabilities-grid div:nth-child(10) {
  grid-area: j;
}

.offerings-link {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.offerings-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
}

.chat-section {
  background-color: #6CCACD;
  height: 100vh;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chat-wrapper {
  padding-bottom: 50px;
}

.chat-title .heading {
  color: #242E5B;
}

.chat-box-wrapper {
  display: flex;
  justify-content: center;
}

.chat-empty-box {
  width: 100px;
  height: 100px;
  border: 3px solid #242E5B;
}

.inner-drag {
  width: 100%;
  height: 100%;
}


/* Range Slider */

body {
  /* padding: 100px; */
  /* background-color: #242E5B; */
}



.heading-wrapper h3 {
  color: #6CCACD;
}

#slider_gewicht {
  position: relative;
  top: 109px;
  left: 35px;
}

.noUi-handle {
  outline: none;
}

.noUi-handle:focus {
  outline: none;
}

.noUi-handle:after, .noUi-handle:before {
    display: none;
}

.noUi-horizontal .noUi-handle {
  right: 0px;
}

.noUi-handle.noUi-handle-lower {
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  width: 80px;
  height: 80px;
}

.noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: pointer;
    box-shadow: inset 0 0 1px #FFF;
}

.noUi-horizontal {
    height: 6px;
    width: 430px;
    bottom: 6px;
}
.noUi-connects {
  cursor: pointer;
}

.image-container {
  display: flex;
  justify-content: center;
  background-color: red;
}

.image-wrapper {
  position: relative
}

.grid-range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  top: 50px;
}

.noUi-horizontal .noUi-handle {
    top: -40px;
/*     left: 3px; */
    background-color: #6CCACD;
}

.work-explanation {
    position: relative;
    top: 100px;
    background-color: #6CCACD;
    height: 240px;
    /* width: 700px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.explanation-text-wrapper {
    padding: 100px;
    color: white;
}

#step-description {
  line-height: 28px;
}


.slider-box {
/*   width: 100px; */
  height: 100px;
  border-top: 4px solid #ffffff; 
  border-bottom: 4px solid #ffffff; 
  border-right: 4px solid #ffffff; 
}

.grid > div:nth-child(6) {
/*   border-left: 4px solid #ffffff; */
}

.grid-range > div:nth-child(1) {
/*   border-left: 4px solid #ffffff; */
}

.first-slider-box {
  border-left: 4px solid #ffffff;
}

.slider-box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: white;  
}

.slider-wrapper1 {
  position: relative;
  bottom: 5px;
}

.slide-box {
  width: 100px;
  border-right: 3px solid #ffffff;
}

.slide-box:last-child {
  border-right: none;
}

.slider-button-wrapper {
  display: flex;
  justify-content: center;
}

.slider-button-wrapper input {
  width: 95%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  background: #ffffff;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  height: 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.slider::-moz-range-thumb {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #ffffff;
}

a {
  color: blue;
}
a:hover{
  color: purple;
}

.slider-box {
/*   border-left: 3px solid white; */
}




